body {
    background-color: white;
    color: black;
    font-family: sans-serif;
}
a {
    color: black;
}

button {
    height: 2.2em;
}

details summary {
    font-size: 1.5em;
}
details {
    margin: 2em 0em;
}

textarea {
    display: block;
    width: 40em;
    height: 10em;
}

.content {
    margin-left: 20px;
}

.button-as-link {
    background: none !important;
    border: none;
    padding: 0 !important;
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.typewriter-row {
    display: flex;
}
.typewriter-row > div {
    border: 1px solid black;
    width: 3em;
    height: 2.5em;
    text-align: center;
    margin: 2px;
    border-radius: 4px;
}
.typewriter-row > div.keydown {
    background-color: #fcc;
}

.typewriter-row > div.spacer {
    border: none;
    width: 1.5em;
}
.typewriter-row > div.space {
    width: 18em;
}
.piano {
    overflow: auto;
    margin: 10px;
}
.piano .wrapper {
    float: left;
    position: relative;
}
.piano .key {
    text-align: center;

    height: 8em;
    width: 3em;
    border: 1px solid black;
    color: black;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}
.piano .key.sharp {
    height: 4em;
    width: 2em;
    border: 1px solid black;
    color: white;
    background: black;
    position: absolute;
    top: 0;
    left: -1em;
    z-index: 10;
}
.piano .key.disabled {
    background-color: #ddd;
    border: 1px solid #bbb;
}
.piano .key.sharp.disabled {
    background-color: #999;
    background-color: #999;
    border: 1px solid #999;
}

.piano .key.keydown {
    background-color: #fcc;
}
.piano .key.sharp.keydown {
    background-color: #fcc;
}

.loopWrapper {
    display: flex;
}

.loop {
    border: 1px solid black;
    height: 32px;
    min-width: 32px;
    position: relative;
    display: inline-block;
}
.loop > div {
    background-color: black;
    position: absolute;
    height: 1px;
}
.loop > div.bar {
    height: 32px;
    width: 1px;
    background-color: #999;
}

#recordingStatus {
    color: red;
    min-height: 1.5em;
}
